<h4>¿Deberías testearte por coronavirus?</h4>
<p>Por favor, ingresa tus datos.</p>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Ej. Juan" id="nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input input placeholder="Ej. Pérez" id="apellido" type="text" class="validate">
          <label for="apellido">Apellido</label>
        </div>
      </div>
    
<p>Selecciona todas las que apliquen para ti.</p>
<p>
  <label>
    <input type="checkbox" class="filled-in" id="1"/>
    <span>Tengo dolor de garganta</span>
  </label>
</p>
<p>
  <label>
    <input type="checkbox" class="filled-in" id="2" />
    <span>Tengo/he tenido fiebre en los últimos días</span>
  </label>
</p>
<p>
  <label>
    <input type="checkbox" class="filled-in" id="3"/>
    <span>Tengo tos</span>
  </label>
</p>
<p>
  <label>
    <input type="checkbox" class="filled-in" id="4"/>
    <span>He presentado dificultad para respirar de forma repentina</span>
  </label>
</p>
<p>
  <label>
    <input type="checkbox" class="filled-in" id="5"/>
    <span>Tengo secreciones nasales</span>
  </label>
</p>
 <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <input class="btn" type="submit" value="Enviar">
          </div>
        </div>
      </div>