<div class="container">

            <h3>Incidentes en Jurassic Park</h3>

            <a class="right btn-floating btn-large waves-effect waves-light red" href="vista_agregar_incidente.php"><i class="material-icons">add</i></a>
            <div id="mostarZ"></div>