:root{
	--dark-color: #1c1c1c ;
	--light-color: #ffffff;
	--dark-grey-color: #333333;
	--light-grey-color: #efefef;
}

body{
	font-family: 'Oswald', ;
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: .05rem;
}

.navbar{
	background-color: transparent !important;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	min-height: 80px;
}

.lead{
	font-weight: 1.8rem;
}

#hero-bg{
	background-image: url('images/bg.jpg');
	background-size: cover;
	position: relative;
	height: 700px;
}