<div class="navbar-fixed">
    <nav>
        <div class="blue darken-1 nav-wrapper">
            <a href="index.php" class="brand-logo"><acronym title="Desarrollo de aplicaciones web y Bases de datos">Segundo parcial: DAW-BD</acronym></a>
            <ul id="nav-mobile" class="right">
                <li><a href="#">Consultas</a></li>
            </ul>
        </div>
    </nav>
</div>
