<div class="container">

    <h1>Agregar nuevo incidente</h1>
    <div class="row">
        <!-- Debes mandar llamar al controlador DE ESTA FORMA-->
        <form class="col s12" action="controlador_agregar_incidente.php" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <select id="lugar" name="lugar">
                        <option selected disabled value = "">Seleccione una opcion:
                        </option>
                        <!-- Lo mandas al model php y le pides la función getPpciones -->
                        <?= getOpciones('idLugar', 'nombre', 'lugar') ?>
                    </select>
                    <label for="lugar">Lugar:</label>
                </div>
                <div class="input-field col s12">
                    <select id="tipo" name="tipo">
                        <option selected disabled value = "">Seleccione una opcion:
                        </option>
                        <!-- Lo mandas al model php y le pides la función getPpciones -->
                        <?= getOpciones('idTipo', 'nombre', 'tipo') ?>
                    </select>
                    <label for="Tipo">Tipo:</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Registrar
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        //Indicas que vas a mandar desde el SELECT
        let elems = document.querySelectorAll('select');
        let instances = M.FormSelect.init(elems);
    });
</script>