

      <?php if (isset($error)): ?>
        <div class="red-text">Error: <?= $error ?></div>
    <?php endif; ?>
  <div class="row">
    <form class="col s12" action="index.php" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Juan" id="nombre" name="nombre" type="text" class="validate" required>
          <label for="nombre">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
         <input placeholder="hola123" id="password" type="password" name="password" class="validate">
          <label for="password">Contraseña</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <input class="btn pink" type="submit" value="Sign in">
          </div>
        </div>
      </div>
    </form>